<li class="comment">
  <%= comment.name %> posted: <%= comment.content %> |
  <%= link_to "Edit", edit_post_comment_path(@post, comment) %> |
  <%= link_to "Delete", post_comment_path(@post, comment), :method => "delete" %>
</li>